{% extends "base.html" %}

{% block title %}Return Book{% endblock %}

{% block head %}
    {{ super() }} 
    <link rel="stylesheet" href="/static/css/style.css" />
{% endblock %}

{% block content %}
    <div class="container my-4">
        <h1>Return Book</h1>
        <form id="returnBookForm">
            <div class="mb-3">
                <label for="book_id" class="form-label">Book Id</label>
                <input type="number" class="form-control" id="book_id" name="book_id">
            </div>
            <div class="mb-3">
                <label for="member_id" class="form-label">Member Id</label>
                <input type="number" class="form-control" id="member_id" name="member_id">
            </div>
            <div class="mb-3">
                <label for="fee" class="form-label">Book Fees</label>
                <input type="number" class="form-control" id="fee" name="fee">
            </div>
            <button type="submit" class="btn btn-primary">Return Book</button>
        </form>
    </div>
{% endblock %}
